[submodule "Vendor/UISpec"]
	path = Vendor/UISpec
	url = https://github.com/twotoasters/UISpec.git
[submodule "Vendor/json-framework"]
	path = Vendor/json-framework
	url = https://github.com/stig/json-framework.git
